* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 44px 0 144px 76px;
}

.link-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #989090;
    cursor: pointer;
    margin-right: 23px;
}

.button-header {
   background-color: #665AE1;
   border-radius: 20.5px;
   width: 130px;
   height: 41px;
   border: none;
   color: #FFFFFF;
   font-weight: 600;
   font-size: 18px;
   line-height: 22px;
   cursor: pointer;
}

.img-log {
    width: 500px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;
}

section{
   display: inline-block;
   margin-left: 86px;
   margin-bottom:300px;
   margin-top: 0;
}

h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
}

h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    color: #515151;
}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px;
    margin-top: 32px;
    margin-bottom: 65px;
}

.button-main {
    background-color: #ADFF00;
    border-radius: 20.5px;
    width: 239px;
    height: 64px;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000000;

}
@media screen and (max-width: 900px) {
    .img-log {
        width: 354px;
        height: 317px;
        margin: 100px 20px 20px 20px;
    }
    p {
        display: none;
    }
    .link-header {
        display: none;
    }
    .button-header {
        display: none;
    }
    main {
        font-family: "Montserrat", sans-serif;
        display: block;
    }
   
    h1 {
        font-size: 60px;
        line-height: 73px;
        font-weight: 900;
         }

    h2 {
        line-height: 49px;
        font-weight: 500;
        font-size: 30px;
        line-height: 39px;
        margin: 10px 20px 0px 30px;
    }
    .button-main {
        width: 234px;
        height: 48px;
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
        margin: 10px 25px 25px 25px;
       
    }
}